/* 
    Created on : 08/02/2014, 20:48:31
    Author     : sergi grau
*/
.root {
    -fx-background-color: rgb(128, 128, 128);
}
.text-field-large {
    -fx-pref-height: 150px;
    -fx-font-size: 14px;
}
